'scopeName': 'source.asm-6502'
'name': '6502 Assembly'
'fileTypes': [
  '6502'
  'S6502'
  'asm6502'
]
'patterns': [
  {
    'comment': 'comment'
    'match': ';.*'
    'name': 'comment.line.semicolon.asm-6502'
  },
  {
    'comment': 'register'
    'match': '\\b([Aa]|[Xx]|[Yy]|[Pp][Cc]|[Ss][Pp]|[Ss][Rr])\\b'
    'name': 'constant.character.asn-6502'
  },
  {
    'comment': 'literal-hexadecimal'
    'match': '\\B([\#][\$][A-Fa-f0-9]+)\\b'
    'name': 'constant.number.hexadecimal.asm-6502'
  },
  {
    'comment': 'literal-decimal'
    'match': '\\B([\#][0-9]+)\\b'
    'name': 'constant.number.decimal.asm-6502'
  }
]
